<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nkl.page.dao.IUpayDao">

	<insert id="addUpay" parameterType="Upay">
		<![CDATA[
			insert into upay
				values(null,#{upay_no},#{user_id},#{upay_date},#{upay_price})
		]]>
	</insert>

	<delete id="delUpay" parameterType="int">
		<![CDATA[
			delete from upay where upay_id=#{upay_id}
		]]>
	</delete>

	<delete id="delUpays" parameterType="int">
		<![CDATA[
			delete from upay where upay_id in 
		]]>
		<foreach collection="array" item="upay_ids"  open="(" separator="," close=")">
			#{upay_ids}
		</foreach>
	</delete>

	<update id="updateUpay" parameterType="Upay">
		<![CDATA[
			UPDATE upay
		]]>
		<set>
			<if test="">
			<![CDATA[
				
			]]>
			</if>
		</set>
		<![CDATA[
			where upay_id = #{upay_id}
		]]>
	</update>

	<select id="getUpay" parameterType="Upay" resultType="Upay">
		<![CDATA[
			SELECT p.*,u.real_name FROM upay p join user u on p.user_id=u.user_id
		]]>
		<where>
			<if test="upay_id!=0">
			<![CDATA[
				upay_id = #{upay_id}
			]]>
			</if>
		</where>
	</select>

	<select id="listUpays" parameterType="Upay" resultType="Upay">
		<![CDATA[
			SELECT * FROM (
			SELECT p.*,u.real_name FROM upay p join user u on p.user_id=u.user_id
		]]>
		<where>
			<if test="upay_id!=0">
			<![CDATA[
				upay_id = #{upay_id}
			]]>
			</if>
			<if test="user_id!=0">
			<![CDATA[
				and p.user_id = #{user_id}
			]]>
			</if>
			<if test="upay_no!=null and upay_no!=''">
			<![CDATA[
				and upay_no like '%${upay_no}%'
			]]>
			</if>
			<if test="real_name!=null and real_name!=''">
			<![CDATA[
				and u.real_name like '%${real_name}%'
			]]>
			</if>
		</where>
		<![CDATA[
			order by upay_date desc,upay_id asc) t
		]]>
		<if test="start!=-1">
		<![CDATA[
			Limit ${start},${limit}
		]]>
		</if>
	</select>

	<select id="listUpaysCount" parameterType="Upay" resultType="int">
		<![CDATA[
			SELECT count(*) FROM upay p join user u on p.user_id=u.user_id
		]]>
		<where>
			<if test="upay_id!=0">
			<![CDATA[
				upay_id = #{upay_id}
			]]>
			</if>
			<if test="user_id!=0">
			<![CDATA[
				and p.user_id = #{user_id}
			]]>
			</if>
			<if test="upay_no!=null and upay_no!=''">
			<![CDATA[
				and upay_no like '%${upay_no}%'
			]]>
			</if>
			<if test="real_name!=null and real_name!=''">
			<![CDATA[
				and u.real_name like '%${real_name}%'
			]]>
			</if>
		</where>
	</select>

</mapper>
